{% extends 'base.html' %}

{% block title %}Your cart{% endblock %}

{% block header %} <h1>Your Cart</h1> {% endblock %}

{% block content %}

{{ message }}

{% if cart %}

<table class="booze_table">
    {% for item_id in cart %}
    <tr>
        <td>{{ names[item_id] }}</td>
        <td>Amount: {{ cart[item_id] }}</td>
        <td>{{ price[item_id] }}</td>
        <td><a href="{{ url_for('remove_from_cart', item_id = item_id, amount = cart[item_id]) }}">Remove</a></td>
    </tr>
    {% endfor %} 
</table>
<p>
    Your total is €{{ total }}
</p>
<p>
    <a href="{{ url_for('checkout') }}">checkout</a>
</p>

{% else %}
<p class="cart">Your cart is empty</p>
{% endif %}

{% endblock %}