{% extends 'base.html' %} 

{% block title %}Creating new product{% endblock %}

{% block header %} <h1>New Product</h1> {% endblock %}

{% block content %} 



<form action="" method="POST" novalidate class="form">

    {{ form.hidden_tag() }}
    

    {{ form.name.label }}
    {{ form.name() }}
    {% for error in form.name.errors %}
        {{ error }}
    {% endfor %}

    <br>
    {{ form.price.label }}
    {{ form.price() }}
    {% for error in form.price.errors %}
        {{ error }}
    {% endfor %}

    <br>

    {{ form.stock.label }}
    {{ form.stock() }}
    {% for error in form.stock.errors %}
        {{ error }}
    {% endfor %}

    <br>
    {{ form.description.label }}
    {{ form.description() }}
    {% for error in form.description.errors %}
        {{ error }}
    {% endfor %}

    <br>
    {{ form.submit() }}
{% endblock %}